@import "../chameleon/legacy-styles.css";
@import "icons";

$menu-width: 200px;
$menu-width-tablet: 60px;

.v-widget,
.v-caption,
.v-app input {
  font-size: 16px;
}

.h1,
.h2 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

.top {
  background: #ccc;
  background: linear-gradient(to bottom, #f7f7f7, #e0e0e0);
  padding: 0 1em .3em; 
  border-bottom: 1px solid #c5c5c5;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  height: 50px;
  
  .h1 {
    line-height: 1;
    font-size: 20px;
  }
}

.menu {
  background: #ddd;
  width: $menu-width;
  border-right: 1px solid #c5c5c5;
  position: fixed;
  top: 50px;
  
  .v-button {
    width: 100%;
    border-radius: 0;
    border: none;
    
    &.selected {
      background: #1180d4;
      color: #fff;
      text-shadow: 0 -1px 1px lighten(#1180d4, -20%);
      font-weight: bold;
    }
  }
  
  .v-button-wrap {
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    border-radius: 0;
  }
}

.content.content {
  padding: 60px 30px 30px 230px;
  
  .h2 {
    font-size: 30px;
  }
}



@media only screen and (max-width: 768px) and (min-width: 461px) {
  
  .menu {
    width: $menu-width-tablet;
    
    .v-button-caption {
      display: none;
    }
    
    .v-button-wrap {
      text-align: center;
      font-size: 20px;
      
      &:before {
        margin-right: 0;
      }
    }
  }
  
  .content.content {
    padding-left: 90px
  }
  
}


@media only screen and (max-width: 460px) {
  .menu {
    -webkit-transform: translatex(-200px);
    top: 0;
    bottom: 0;
    z-index: 2;
    transition: -webkit-transform 300ms ease 310ms;
    
    &:before {
      content: "";
      position: absolute;
      top: 14px;
      right: -45px;
      width: 30px;
      height: 4px;
      background: #000;
      box-shadow: 0 8px 0 #000, 0 16px #000;
    }
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -60px;
      width: 60px;
      height: 60px;
    }
    
    &:hover,
    &:focus {
      -webkit-transform: translatex(0);
    }
  }
  
  .content.content {
    padding-left: 30px;
  }
  
  .top {
    padding-left: 60px;
  }

}

.form[width-range~="400px-460px"] {
  .foobar {
    color: red;
  }
}

.form[width-range~="0-460px"] {
  table,
  tbody,
  tr,
  td {
    display: block;
  }
  
  .v-formlayout-captioncell,
  .v-formlayout-errorcell {
    display: inline-block;
  }
  
  .v-textfield {
    width: 100%;
  }
}